<!-- Nav Bar -->
 <div class="site-header">
  <div class="row">
    <div class="large-12 columns">
      <!-- <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="#" class="button">Link 1</a></li>
         <li><a href="#" class="button">Link 2</a></li>
         <li><a href="#" class="button">Link 3</a></li>
         <li><a href="#" class="button">Link 4</a></li>
        </ul>
      </div> -->
      <h1><a href="{{ site.baseurl }}/">The Reprogram </a><small>My blog about programming and software development.</small></h1>
    </div>
  </div>
 </div>
  <!-- End Nav -->
