<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300,700,|Oswald:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  	<link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/site.css" | prepend: site.baseurl }}">
    <script src="{{ "/scripts/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
</head>