<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

  {% include head.html %}

    <body>

    {% include header.html %}
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->

    <div class="large-9 columns" role="content">
      {{ content }}
    </div>
 
    <!-- End Main Content -->
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
      <h5>About me</h5>
      <img  alt="Profile pic" class="vert-space-below" src="{{ "/content/site/profile.jpg" | prepend: site.baseurl }}"></img>
      <p>
        Hi! I'm Richard Flores and I'm a software developer in Houston. <br>This is where I blog about my observations, experiences and opinions on programming and software development.
      </p>
      <h5><a href="{{ '/categories' | prepend: site.baseurl }}">categories</a></h5>
      <h5><a href="{{ '/archives' | prepend: site.baseurl }}">archives</a></h5>
      <h5>Meta</h5>
    </aside> 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->

  {% include footer.html %}

    <script src="{{ "/scripts/vendor/jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/foundation.min.js" | prepend: site.baseurl }}"></script>
    <script>
      $(document).foundation();
    </script>
    <script id="dsq-count-scr" src="//thereprogram.disqus.com/count.js" async></script>
    </body>
</html>